<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uniftec.joao.com.projetoempreendedor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/restauranteaj"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".pratos"
            android:label="@string/title_activity_pratos"></activity>
        <activity
            android:name=".cardapiodia"
            android:label="@string/title_activity_cardapiodia" />
        <activity
            android:name=".cardapiosemanal_clientes"
            android:label="@string/title_activity_cardapiosemanal_clientes" />
        <activity android:name=".alterarSenha" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".administradores" />
        <activity android:name=".cadastroAdm" />
        <activity android:name=".clientes" />
        <activity
            android:name=".cadastro"
            android:parentActivityName=".login" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>